[class *="btn-"] {
	background-color: #ccc;
	border: 1px solid;
	border-radius: 3px;
	color: #fff;
	font-family: 'Poppins Medium';
	display: inline-block;
	padding: 15px;
	font-size: 15px;
	text-decoration: none;
	vertical-align: middle;
}

button[type="submit"]:hover, input[type="submit"]:hover {
	cursor: pointer;
}

/*hovering button*/
[class *="btn-"]:hover {
	transition: 0.2s;
	box-shadow: 0 3px 5px 0 #ddd;
}

.btn-default:hover {
	background-color: #cccccc;
}

.btn-primary:hover {
	background-color: #29a3f8cc;
	border-color: #29a3f8cc;
}

.btn-success:hover {
	background-color: #26c252cc;
	border-color: #26c252cc;
}

.btn-info:hover {
	background-color: #34c2d1cc;
	color-color: #34c2d1cc;
}

.btn-purple:hover {
	background-color: #9a2d9acc;
	border-color: #9a2d9acc;
}

.btn-warning:hover {
	background-color: #ffb347cc;
	border-color: #ffb347cc;
}

.btn-danger:hover {
	background-color: #ff6347cc;
	border-color: #ff6347cc;
}

/*sizing*/
.btn-md {
	padding: 10px 15px;
}

.btn-sm {
	padding: 5px 15px;
}

.btn-xs {
	padding: 2px 7px;
}

/*full width of button*/
.full-btn {
	width: 100%;
}

@media screen and (max-width: 480px) {
	/*full width button*/
	.m-full-btn {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {

}